<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Demo_Ankara2.Properties.Settings.DbAnkaraProjeConnectionString"
            connectionString="Data Source=DESKTOP-07T8MF2\MSSQLSERVER01;Initial Catalog=DbAnkaraProje;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>